<?= $this->render('sidemenu/service.html') ?>

<!--Content-->
<div id="contents">
  <div id="contents_in">

    <div id="contents_title">
      Daftar Gambar Berjalan
    </div>

      <!--Pager-->
      <form name="form1" method="post" action="/manager/sub-category1/list">
      <?= $this->render('pager.html') ?>
      </form>
	
    	<div class="table_container bottom">
          <!--List-->
          <table width="100%" border="0" cellpadding="5">
            <tr>
              <th>ID</th>
              <th>Gambar</th>
              <th>Gambar Detail</th>
              <th>Urutan</th>
              <th>Ditampilkan</th>
              <th>Edit</th>
              <th>Hapus</th>
            </tr>
    <?php $i = 1; foreach ($this->models as $model) : 
            $class='';
            if($i%2==0) $class = "class=\"even\"";
    ?>
            <tr <?=$class?>>
              <td align="center"><?= $model['id'] ?></td>
              <td align="left"><img src="<?= $model['image_url'] ?>" width="80" height="80"/></td>
              <td align="left"><img src="<?= $model['detail_image_url'] ?>" width="80" height="80"/></td>
              <td align="left"><?= $model['disp_order'] ?></td>
              <td align="left"><?= $model['disp_flag'] ?></td>
              <td align="center"><a href="/manager/slider/edit/id/<?= $model['id'] ?>">Edit</a></td>
              <td align="center"><a href="#" onClick="confirmDelete('/manager/slider/delete/id/<?= $model['id'] ?>');return false;">Hapus</a></td>
            </tr>
    <?php $i++; endforeach ; ?>
	<?php if($this->error) : ?><tr><td colspan="8" align="center"><?= $this->error ?></td></tr><?php endif; ?>
          </table>
      </div>
    </div>

  </div>
</div>
<br class="cl">
<!--Content end-->
