<!DOCTYPE html>
<html lang="en" class="">
<head>
    <title>SumberPerkakas.co.id : <?= $this->item['name'] ?></title>
    <link rel="icon" href="img/favicon.png">
    
    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta name="title" content="SumberPerkakas.co.id, Pusat Belanja Perkakas Online">
    <meta name="description" content="SumberPerkakas.co.id, Pusat Belanja Perkakas Online">
    <meta name="keywords" content="SumberPerkakas.co.id,Pusat,Belanja,Perkakas,Online">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, minimum-scale=0.25, maximum-scale=1.0, initial-scale=1.0"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    
    <link rel="stylesheet" href="/css/global.css" media="all">
    <link rel="stylesheet" href="/css/autoload/highdpi.css" media="all">
    <link rel="stylesheet" href="/css/autoload/responsive-tables.css" media="all">
    <link rel="stylesheet" href="/css/autoload/uniform.default.css" media="all">
    <link rel="stylesheet" href="/js/jquery/plugins/fancybox/jquery.fancybox.css" media="all">
    <link rel="stylesheet" href="/css/product.css" media="all">
    <link rel="stylesheet" href="/css/print.css" media="print">
    <link rel="stylesheet" href="/js/jquery/plugins/jqzoom/jquery.jqzoom.css" media="all">
    <link rel="stylesheet" href="/modules/socialsharing/css/socialsharing.css" media="all">
    <link rel="stylesheet" href="/css/modules/blockcart/blockcart.css" media="all">
    <link rel="stylesheet" href="/css/modules/blockcategories/blockcategories.css" media="all">
    <link rel="stylesheet" href="/css/modules/blockcurrencies/blockcurrencies.css" media="all">
    <link rel="stylesheet" href="/css/modules/blocklanguages/blocklanguages.css" media="all">
    <link rel="stylesheet" href="/css/modules/blockcontact/blockcontact.css" media="all">
    <link rel="stylesheet" href="/css/modules/blocknewsletter/blocknewsletter.css" media="all">
    <link rel="stylesheet" href="/js/jquery/plugins/autocomplete/jquery.autocomplete.css" media="all">
    <link rel="stylesheet" href="/css/product_list.css" media="all">
    <link rel="stylesheet" href="/css/modules/blocksearch/blocksearch.css" media="all">
    <link rel="stylesheet" href="/css/modules/blocktags/blocktags.css" media="all">
    <link rel="stylesheet" href="/css/modules/blockuserinfo/blockuserinfo.css" media="all">
    <link rel="stylesheet" href="/css/modules/blockviewed/blockviewed.css" media="all">
    <link rel="stylesheet" href="/css/modules/themeconfigurator/css/hooks.css" media="all">
    <!--link rel="stylesheet" href="/css/modules/themeconfigurator/css/live_configurator.css" media="all"-->
    <link rel="stylesheet" href="/css/modules/blockwishlist/blockwishlist.css" media="all">
    <link rel="stylesheet" href="/css/modules/productcomments/productcomments.css" media="all">
    <link rel="stylesheet" href="/modules/sendtoafriend/sendtoafriend.css" media="all">
    <link rel="stylesheet" href="/css/modules/blockpermanentlinks/blockpermanentlinks.css" media="all">
    <link rel="stylesheet" href="/modules/themeconfiglink/themeconfiglink.css" media="all">
    <link rel="stylesheet" href="/css/modules/blocktopmenu/css/blocktopmenu.css" media="all">
    <link rel="stylesheet" href="/css/modules/blocktopmenu/css/superfish-modified.css" media="all">
    <meta property="og:title" content="">
    <meta property="og:type" content="product">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <meta property="og:email" content="">
    <meta property="og:phone_number" content="">
    <meta property="og:street-address" content="">
    <meta property="og:locality" content="">
    <meta property="og:country-name" content="">
    <meta property="og:postal-code" content="">
    
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900" rel="stylesheet" type="text/css">
    <!--[if IE 8]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body id="product" class="product product-2 product-insulation-for-hot-or-cold-pipes category-2 category-home hide-right-column lang_en">
<!--[if IE 8]>
<div style='clear:both;height:59px;padding:0 15px 0 15px;position:relative;z-index:10000;text-align:center;'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div>
<![endif]-->
    <div id="page">
        <?= $this->render("header.html"); ?>
            
        <div class="columns-container-bg1">
           <div class="columns-container">
                <div id="columns" class="container">
                    <div class="row">
                        <div id="left_column" class="column col-xs-12 col-sm-3">
                            <!-- MODULE Block Promo -->
                            <div id="special_block_right" class="block" style="padding-top: 80px;">
                                <p class="title_block">
                                    <a href="list.html" title="New Arrival">
                                        KONTAK
                                    </a>
                                </p>
                                <div class="block_content products-block" style="">
                                    <ul>
                                        <li class="clearfix">
                                            <div class="product-content">
                                                <h5>Untuk Pelayanan Lebih Cepat, Hubungi :</h5>
                                                <br>
                                                <div class="price-box">
                                                    <span class="price">0251-8362849</span>
                                                    <span class="price">+6281932851135</span>
                                                    <span class="price">+6281314838962</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /MODULE Block Promo -->
                        </div>
                        <div id="center_column" class="center_column col-xs-12 col-sm-9">
                            <!-- Breadcrumb -->
                            <div class="breadcrumb clearfix">
                                <a class="home" href="/" title="Halaman Utama">
                                    <i class="icon-home"></i>
                                </a>
                                <span class="navigation-pipe">&gt;</span>
                                <?= $this->disp_crumb ?>
                            </div>
                            <!-- /Breadcrumb -->
                            <div id="top_column" class="center_column"></div>
                            <div class="primary_block row">
                                <div class="container">
                                    <div class="top-hr"></div>
                                </div>
                                <!-- left infos-->  
                            <div class="pb-left-column col-xs-12  col-sm-12 col-md-6 two-columns">
                                <!-- product img-->        
                                <div id="image-block" class="clearfix">
                                    <span id="view_full_size">
                                        <a class="jqzoom" title="<?= $this->item['name'] ?>" rel="gal1" href="<?= $this->item['image_url1'] ?>" itemprop="url">
                                            <img src="<?= $this->item['image_url1'] ?>" title="<?= $this->item['name'] ?>" alt="<?= $this->item['name'] ?>"/>
                                        </a>
                                    </span>
                                </div> <!-- end image-block -->
                                <!-- thumbnails -->
                                <div id="views_block" class="clearfix ">
                                    <span class="view_scroll_spacer">
                                        <a id="view_scroll_left" class="" title="Other views" href="javascript:{}">
                                            Previous
                                        </a>
                                    </span>
                                    <div id="thumbs_list">
                                        <ul id="thumbs_list_frame">
                                            <li id="thumbnail_10">
                                                <a href="javascript:void(0);" rel="{gallery: 'gal1', smallimage: '<?= $this->item['image_url1'] ?>',largeimage: '<?= $this->item['image_url1'] ?>'}" title="<?= $this->item['name'] ?>">
                                                    <img class="img-responsive" id="thumb_10" src="<?= $this->item['th082_url1'] ?>" alt="<?= $this->item['name'] ?>" title="<?= $this->item['name'] ?>" height="80" width="80">
                                                </a>
                                            </li>
                                        </ul>
                                    </div> <!-- end thumbs_list -->
                                    <a id="view_scroll_right" title="Other views" href="javascript:{}">
                                        Next
                                    </a>
                                </div> 
                                <!-- end views-block -->
                                <!-- end thumbnails -->
                                <p class="resetimg clear no-print">
                                    <span id="wrapResetImages" style="display: none;">
                                        <a href="detail.html" name="resetImages">
                                            <i class="icon-repeat"></i>
                                            Display all pictures
                                        </a>
                                    </span>
                                </p>
                            </div> 
                            <!-- end pb-left-column -->
                            <!-- end left infos-->
                            <!-- center infos -->
                            <div class="pb-center-column col-xs-12  col-sm-12 col-md-6">
                                <h1><?= $this->item['name'] ?></h1>
                                <div><img width="119" height="30" src="<?= $this->brand['image_url'] ?>" title="<?= $this->brand['name'] ?>" /></div>
                                <br>
                                <div class="price">
                                    <?php if( $this->item['call_us'] ) : ?>
                                    <br>
                                    <span class="price product-call">Harga Hubungi Kami  :   0251-8362849</span>
                                    <br><br><br>
                                    <?php else : 
                                            if( $this->item['price'] != $this->item['current_price'] ) :
                                    ?>
                                    <p class="our_price_display">
                                        <span id="our_price_display">IDR <?= number_format($this->item['current_price']) ?></span>
                                    </p>
                                    <p id="reduction_percent">
                                        <span id="reduction_percent_display">-<?= intval(($this->item['price']-$this->item['current_price'])/$this->item['price']*100) ?>%</span>
                                    </p>
                                    <p id="old_price">
                                        <span id="old_price_display">IDR <?= number_format($this->item['price']) ?></span>
                                    </p>
                                        <?php else : ?>
                                    <p class="our_price_display">
                                        <span id="our_price_display">IDR <?= number_format($this->item['price']) ?></span>
                                    </p>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <p class="warning_inline" id="last_quantities" style="display: none">Warning: Last items in stock!</p>
                                <p id="availability_date" style="display: none;">
                                    <span id="availability_date_label">Availability date:</span>
                                    <span id="availability_date_value"></span>
                                </p>
                                <!-- Out of stock hook -->
                                <div id="oosHook" style="display: none;"></div>
                                <p class="socialsharing_product list-inline no-print">
                                    <button type="button" class="btn btn-default btn-twitter" onclick="socialsharing_twitter_click('Insulation for Hot or Cold Pipes http://livedemo00.template-help.com/prestashop_49514/index.php?id_product=2&amp;controller=product&amp;id_lang=1');">
                                        <i class="icon-twitter"></i> Tweet
                                    <!-- <img src="http://livedemo00.template-help.com/prestashop_49514/modules/socialsharing/img/twitter.gif" alt="Tweet" /> -->
                                    </button>
                                    <button type="button" class="btn btn-default btn-facebook" onclick="socialsharing_facebook_click();">
                                        <i class="icon-facebook"></i> Share
                                        <!-- <img src="http://livedemo00.template-help.com/prestashop_49514/modules/socialsharing/img/facebook.gif" alt="Facebook Like" /> -->
                                    </button>
                                    <button type="button" class="btn btn-default btn-google-plus" onclick="socialsharing_google_click();">
                                        <i class="icon-google-plus"></i> Google+
                                        <!-- <img src="http://livedemo00.template-help.com/prestashop_49514/modules/socialsharing/img/google.gif" alt="Google Plus" /> -->
                                    </button>
                                    <button type="button" class="btn btn-default btn-pinterest" onclick="socialsharing_pinterest_click();">
                                        <i class="icon-pinterest"></i> Pinterest
                                        <!-- <img src="http://livedemo00.template-help.com/prestashop_49514/modules/socialsharing/img/pinterest.gif" alt="Pinterest" /> -->
                                    </button>
                                </p>
                                <!--  /Module ProductComments -->
                                <!-- usefull links-->
                <ul id="usefull_link_block" class="clearfix no-print">
                    <li class="sendtofriend">
                        <a id="send_friend_button" href="detail.html&amp;live_configurator_token=c5ef1a08b24156fdb860177e681fcfa2&amp;id_shop=1&amp;id_employee=2&amp;theme=&amp;theme_font=#send_friend_form" title="Send to a friend">
                            Send to a friend
                        </a>
                        <div style="display: none;">
                            <div id="send_friend_form">
                                <h2 class="page-subheading">
                                    Send to a friend
                                </h2>
                                <div class="row">
                                    <div class="product clearfix col-xs-12 col-sm-6">
                                        <img src="http://livedemo00.template-help.com/prestashop_49514/img/p/1/0/10-home_default.jpg" alt="Insulation for Hot or Cold Pipes">
                                        <div class="product_desc">
                                            <p class="product_name">
                                                <strong>Insulation for Hot or Cold Pipes</strong>
                                            </p>
                                            Proin venenatis quam non nunc placerat, ac posuere erat suscipit. Suspendisse potenti. In in tortor velit. Quisque non enim cursus magna cursus pretium. Praesent et sollicitudin nisl.
                                        </div>
                                    </div><!-- .product -->
                                    <div class="send_friend_form_content col-xs-12 col-sm-6" id="send_friend_form_content">
                                        <div id="send_friend_form_error"></div>
                                        <div id="send_friend_form_success"></div>
                                        <div class="form_container">
                                            <p class="intro_form">
                                                Recipient :
                                            </p>
                                            <p class="text">
                                                <label for="friend_name">
                                                    Name of your friend <sup class="required">*</sup> :
                                                </label>
                                                <input id="friend_name" name="friend_name" type="text" value="">
                                            </p>
                                            <p class="text">
                                                <label for="friend_email">
                                                    E-mail address of your friend <sup class="required">*</sup> :
                                                </label>
                                                <input id="friend_email" name="friend_email" type="text" value="">
                                            </p>
                                            <p class="txt_required">
                                                <sup class="required">*</sup> Required fields
                                            </p>
                                        </div>
                                        <p class="submit">
                                            <button id="sendEmail" class="btn button button-small" name="sendEmail" type="submit">
                                                <span>Send</span>
                                            </button>&nbsp;
                                            or&nbsp;
                                            <a class="closefb" href="detail.html&amp;live_configurator_token=c5ef1a08b24156fdb860177e681fcfa2&amp;id_shop=1&amp;id_employee=2&amp;theme=&amp;theme_font=#" title="Cancel">
                                                Cancel
                                            </a>
                                        </p>
                                    </div> <!-- .send_friend_form_content -->
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="print">
                        <a href="javascript:print();">
                            Print
                        </a>
                    </li>
                </ul>
            </div>
            <!-- end center infos-->
        </div>
        <!-- end primary_block -->
        
        <!-- More info -->
        <section class="page-product-box">
            <h3 class="page-product-heading">Description</h3>
                <!-- full description -->
                <div class="rte">
                    <p><?= $this->item['description'] ?></p>
                </div>
        </section>
        <!--end  More info -->
        
        <!-- description & features -->
        </div><!-- #center_column -->
        </div><!-- .row -->
        </div><!-- #columns -->
        </div><!-- columns-container -->
        </div><!-- .columns-container-bg1 -->
        
        <?= $this->render("footer.html"); ?>
    </div><!-- #page -->

<script type="text/javascript">
var CUSTOMIZE_TEXTFIELD = 1;
var FancyboxI18nClose = 'Close';
var FancyboxI18nNext = 'Next';
var FancyboxI18nPrev = 'Previous';
var PS_CATALOG_MODE = false;
var added_to_wishlist = 'Added to your wishlist.';
var ajaxsearch = true;
var allowBuyWhenOutOfStock = false;
var attribute_anchor_separator = '-';
var attributesCombinations = [];
var availableLaterValue = '';
var availableNowValue = '';
var baseDir = 'http://livedemo00.template-help.com/prestashop_49514/';
var baseUri = 'http://livedemo00.template-help.com/prestashop_49514/index.php';
var blocksearch_type = 'top';
var confirm_report_message = 'Are you sure you want report this comment?';
var contentOnly = false;
var currencyBlank = 0;
var currencyFormat = 1;
var currencyRate = 1;
var currencySign = '$';
var currentDate = '2014-09-05 03:22:31';
var customizationFields = false;
var customizationIdMessage = 'Customization #';
var default_eco_tax = 0;
var delete_txt = 'Delete';
var displayPrice = 1;
var doesntExist = 'This combination does not exist for this product. Please select another combination.';
var doesntExistNoMore = 'This product is no longer in stock';
var doesntExistNoMoreBut = 'with those attributes but is available with others.';
var ecotaxTax_rate = 0;
var fieldRequired = 'Please fill in all the required fields before saving your customization.';
var freeProductTranslation = 'Free!';
var freeShippingTranslation = 'Free shipping!';
var generated_date = 1409901749;
var group_reduction = 0;
var idDefaultImage = 10;
var id_lang = 1;
var id_product = 2;
var img_dir = 'http://livedemo00.template-help.com/prestashop_49514/themes/theme984/img/';
var img_prod_dir = 'http://livedemo00.template-help.com/prestashop_49514/img/p/';
var img_ps_dir = 'http://livedemo00.template-help.com/prestashop_49514/img/';
var instantsearch = true;
var isGuest = 0;
var isLogged = 0;
var jqZoomEnabled = true;
var loggin_required = 'You must be logged in to manage your wishlist.';
var maxQuantityToAllowDisplayOfLastQuantityMessage = 3;
var minimalQuantity = 1;
var moderation_active = true;
var mywishlist_url = 'http://livedemo00.template-help.com/prestashop_49514/index.php?fc=module&module=blockwishlist&controller=mywishlist&id_lang=1';
var noTaxForThisProduct = true;
var oosHookJsCodeFunctions = [];
var page_name = 'product';
var priceDisplayMethod = 1;
var priceDisplayPrecision = 2;
var productAvailableForOrder = true;
var productBasePriceTaxExcluded = 628.96;
var productColumns = '2';
var productHasAttributes = false;
var productPrice = 628.96;
var productPriceTaxExcluded = 628.96;
var productPriceWithoutReduction = 628.96;
var productReference = '';
var productShowPrice = true;
var productUnitPriceRatio = 0;
var product_specific_price = [];
var productcomment_added = 'Your comment has been added!';
var productcomment_added_moderation = 'Your comment has been added and will be available once approved by a moderator';
var productcomment_ok = 'OK';
var productcomment_title = 'New comment';
var productcomments_controller_url = 'http://livedemo00.template-help.com/prestashop_49514/index.php?fc=module&module=productcomments&controller=default&id_lang=1';
var productcomments_url_rewrite = false;
var quantitiesDisplayAllowed = true;
var quantityAvailable = 98;
var quickView = true;
var reduction_percent = 0;
var reduction_price = 0;
var removingLinkText = 'remove this product from my cart';
var roundMode = 2;
var search_url = 'search.html';
var secure_key = 'd2ec8b953b35082b9133cbf7d18543c9';
var specific_currency = false;
var specific_price = 0;
var static_token = '58ed9c8c81e8105c77bf7df2929aff22';
var stf_msg_error = 'Your e-mail could not be sent. Please check the e-mail address and try again.';
var stf_msg_required = 'You did not fill required fields';
var stf_msg_success = 'Your e-mail has been sent successfully';
var stf_msg_title = 'Send to a friend';
var stf_secure_key = 'a916be930f81755a81cbac539f06e17a';
var stock_management = 1;
var taxRate = 0;
var token = '58ed9c8c81e8105c77bf7df2929aff22';
var uploading_in_progress = 'Uploading in progress, please be patient.';
var usingSecureMode = false;
var wishlistProductsIds = false;
</script>
<script type="text/javascript" src="/js/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.easing.js"></script>
<script type="text/javascript" src="/js/tools.js"></script>
<script type="text/javascript" src="/js/global.js"></script>
<script type="text/javascript" src="/js/autoload/10-bootstrap.min.js"></script>
<script type="text/javascript" src="/js/autoload/15-jquery.total-storage.min.js"></script>
<script type="text/javascript" src="/js/autoload/15-jquery.uniform-modified.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/fancybox/jquery.fancybox.js"></script>
<script type="text/javascript" src="/js/products-comparison.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.idTabs.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.scrollTo.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.serialScroll.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/bxslider/jquery.bxslider.js"></script>
<script type="text/javascript" src="/js/product.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jqzoom/jquery.jqzoom.js"></script>
<script type="text/javascript" src="/modules/socialsharing/js/socialsharing.js"></script>
<!--script type="text/javascript" src="/js/modules/blockcart/ajax-cart.js"></script-->
<script type="text/javascript" src="/js/tools/treeManagement.js"></script>
<script type="text/javascript" src="/js/modules/blocknewsletter/blocknewsletter.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/autocomplete/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/js/modules/blocksearch/blocksearch.js"></script>
<!--script type="text/javascript" src="/modules/themeconfigurator/js/live_configurator.js"></script-->
<script type="text/javascript" src="/js/modules/blockwishlist/js/ajax-wishlist.js"></script>
<script type="text/javascript" src="/modules/productcomments/js/jquery.rating.pack.js"></script>
<script type="text/javascript" src="/js/modules/sendtoafriend/sendtoafriend.js"></script>
<script type="text/javascript" src="/js/modules/blocktopmenu/js/hoverIntent.js"></script>
<script type="text/javascript" src="/js/modules/blocktopmenu/js/superfish-modified.js"></script>
<script type="text/javascript" src="/js/modules/blocktopmenu/js/blocktopmenu.js"></script>
<script type="text/javascript" src="/modules/productcomments/js/jquery.textareaCounter.plugin.js"></script>
<script type="text/javascript" src="/js/modules/productcomments/js/productcomments.js"></script>
</body>
</html>