<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Sumber Perkakas</title>
<link rel="shortcut icon" href="/img/common/favicon.png">
<link rel="icon" href="/img/common/favicon.png">
<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen">
<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/jquery.accordion.source.js" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function () {
	$('.accordion').accordion();
});
</script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/IE9.js"></script> 
<script type="text/javascript" src="js/respond.min.js"></script>
<![endif]-->
<!--[if lt IE 7]>
<script type="text/javascript" src="js/ie7-squish.js"></script> 
<![endif]-->
</head>
<body>

<?= $this->render("header.html"); ?>

<section class="wrapper column2">

<?= $this->render("leftmenu.html"); ?>

	<section class="contents">
		<div class="crumbblock">
			<a href="/">UTAMA</a> &rArr; Daftar Pencarian Produk : <?= h($this->keyword)?>
		</div>
		<div class="catalogblock">
			<div class="catalogtitle">
				<h2>Daftar Produk</h2>
			</div>
			<div class="photolist">
				<div class="catalogset">
					<?php foreach($this->models as $item) : ?>
					<div class="photoframe">
						<a href="/product/detail/id/<?=$item['id']?>"><img src="<?=$item['th155_url1']?>" alt="<?=$item['name']?>" width="155" height="155"></a>
						<div class="itemname"><a href="/product/detail/id/<?=$item['id']?>"><?=$item['name']?></a></div>
						<div class="itemprice">
						<?php if(!$item['call_us']) : ?>
							<?php if( $item['price'] != $item['current_price'] ) : ?>
						<del><span class="fs12">Rp. <?=number_format($item['price'])?>,-</span></del><br>
							<?php endif; ?>
						<span class="emphasis4">Rp. <?=number_format($item['current_price'])?>,-</span>
						<?php else : ?>
						<span class="emphasis4"><img src="/img/common/call_us.jpg" width="100px" height="28px"></span>
						<?php endif;?>
						</div>
					</div>
					<?php
						if($i%4 == 0 && $i != 20) : ?>
				</div>
				<div class="catalogset">
					<?php	
						endif;
						$i++;
						endforeach; ?>
				</div>
			</div>
		</div>
		<? if($this->pages->pageCount > 1): ?>
		<div class="interface">
			<div class="pager-left">
				<ul class="pager">
				<?php foreach ($this->pages->pagesInRange as $page): ?>
				<?php if($page == $this->pages->current): ?>
					<li class="nowpage"><span><?= $page ?></span></li>
				<?php else: ?>
					<li class="linkpage"><span><a href="/product/search<?=$this->render_url?>?page=<?= $page ?>"><?= $page ?></a></span></li>
				<?php endif; ?>
				<?php endforeach; ?>
				</ul>
			</div>
			<div class="pager-right">
				<ul class="pager">
				<? if(isset($this->pages->previous)): ?>
					<li class="prevpagebtn"><a href="/product/search<?=$this->render_url?>?page=<?= $this->pages->previous ?>"><span class="realtext">Sebelum</span></a></li>
				<? else : ?>
					<li class="prevpagebtn disabled"><a href="#"><span class="realtext">Sebelum</span></a></li>
				<? endif; ?>
				<? if(isset($this->pages->next)): ?>
					<li class="nextpagebtn"><a href="/product/search<?=$this->render_url?>?page=<?= $this->pages->next ?>"><span class="realtext">Sesudah</span></a></li>
				<? else : ?>
					<li class="nextpagebtn disabled"><a href="#"><span class="realtext">Sesudah</span></a></li>
				<? endif; ?>
				</ul>
			</div>
		</div>
		<? endif; ?>
	</section>
	<div class="footbanner">
	</div>
</section>

<?= $this->render("footer.html"); ?>

</body>
</html>