<?= $this->render('sidemenu/service.html') ?>

<script type="text/javascript">
    $(document).ready(function(){
		if( $("#call_us").is(':checked') ) {
			$("#price").attr( 'disabled', true);
			$("#price").val("");
		}
	
		$("#category_id").change(
			function() {
			$("#sub_category_id").load("/manager/product/get_subcategory/id/" + $("#category_id option:selected").val());
			}
		);
		
		$("#promo_period_start").datepicker({
			dateFormat: 'yy-mm-dd'
		});
		$("#promo_period_end").datepicker({
			dateFormat: 'yy-mm-dd'
		});
    });

	function check() {
		if( document.getElementById("call_us").checked == true ) {
			document.getElementById("price").value = "";
			document.getElementById("price").disabled = true;
		} else {
			document.getElementById("price").disabled = false;
		}
	}
</script> 

<!--content-->
<div id="contents">
  <div id="contents_in">

    <div id="contents_title">
		Edit Berita 
    </div>
    <div class="contents_space">
    	<div class="table_container">
                <form method="post" action="/manager/news/edit/id/<?= $this->model['id'] ?>" enctype="multipart/form-data">
                    <table id="top">
                        <tr>
                            <td class="first">ID</td>
                            <td width="80%" class="color_gray"> 
                                <?= $this->model['id'] ?>
                            </td>
                        </tr>
                        <tr>
                            <td class="first">Judul</td>
                            <td width="80%" class="color_gray"> 
                                <?= my_mb_error($this->error_str, 'title') ?>
                                <?= $this->form->getElement('title') ?>
                            </td>
                        </tr>
                        <tr>
                            <td class="first">Isi</td>
                            <td width="80%" class="color_gray"> 
                                <?= my_mb_error($this->error_str, 'content') ?>
                                <?= $this->form->getElement('content') ?>
                            </td>
                        </tr>
                        <tr>
                            <td class="first">URL</td>
                            <td width="80%" class="color_gray"> 
                                <?= my_mb_error($this->error_str, 'url') ?>
                                <?= $this->form->getElement('url') ?>
                            </td>
                        </tr>
                        <tr>
                            <td class="first">Gambar</td>
                            <td width="80%" class="color_gray"> 
							<?= my_mb_error($this->error_str, 'image_url') ?>
								<? if($this->model['thumb_url']) : ?>
							　<img src="<?=$this->model['image_url']?>" alt="produk" width="100"><br />
							　<input name="checkbox1" value="1" type="checkbox" style="width:10px;">
							　Hapus<br />
								<? endif; ?>
								<?= $this->form->getElement('image_url1') ?>
                            </td>
                        </tr>
                        <tr>
                            <td class="first">Tanggal ditampilkan</td>
                            <td width="80%" class="color_gray"> 
                                <?= my_mb_error($this->error_str, 'disp_date') ?>
                                <?= $this->form->getElement('disp_date') ?>
                            </td>
                        </tr>
                        <tr>
                            <td class="first">No. Urut</td>
                            <td width="80%" class="color_gray"> 
                                <?= my_mb_error($this->error_str, 'sort_order') ?>
                                <?= $this->form->getElement('sort_order') ?>
                            </td>
                        </tr>
                        <tr>
                            <td class="first">Ditampilkan</td>
                            <td width="80%" class="color_gray"> 
                                <?= my_mb_error($this->error_str, 'disp_flag') ?>
                                <?= $this->form->getElement('disp_flag') ?>
                            </td>
                        </tr>
                    </table>
                </div>
                <table class="bottom" style="width:100%">
            <tr>
              <td align="center">
                <input type="button" class="input_b2" value="Kembali" onClick="javascript:window.location='/manager/<?= $this->class_name ?>/goback-list';" />
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" class="input_b2" id = "update" value="Edit"/>
              </td>
            </tr>
          </table>
            </form>
    </div>

  </div>
</div>
<br class="cl">
<!--content end-->