
        <div class="header-container">
            <header id="header">
                <div class="banner">
                    <div class="container">
                        <div class="row"></div>
                    </div>
                </div>
                <div style="margin-top: 20px;">
                    <div class="container">
                        <div class="row">
                            <div id="header_logo">
                                <a href="/" title="Storage Building Materials ">
                                    <img class="logo img-responsive" width="276" height="82" src="/img/logo.png" alt="SumberPerkakas.co.id" title="SumberPerkakas.co.id">
                                </a>
                            </div>
                            <!-- Block user information module NAV  -->
                            <ul class="user_info" style="visibility:hidden;">
                                <li>
                                    <a href="#" title="View my customer account" rel="nofollow">
                                        <i class="icon-user"></i>Your Account
                                    </a>
                                </li>
                                <li>
                                    <a class="login" href="#" rel="nofollow" title="Login to your customer account">
                                        <i class="icon-lock"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- /Block usmodule NAV -->
                            <!-- MODULE Block cart -->
                            <div class="box-cart col-sm-3 clearfix" style="visibility: hidden">
                                <div class="shopping_cart">
                                    <a href="#" title="View my shopping cart" rel="nofollow">
                                        <b>Cart</b>
                                        <span class="ajax_cart_quantity unvisible">0</span>
                                        <span class="ajax_cart_product_txt unvisible">Product</span>
                                        <span class="ajax_cart_product_txt_s unvisible">Products</span>
                                        <span class="ajax_cart_total unvisible"></span>
                                        <span class="ajax_cart_no_product">(empty)</span>
                                    </a>
                                    <div class="cart_block block exclusive">
                                        <div class="block_content">
                                            <!-- block list of products -->
                                            <div class="cart_block_list">
                                                <p class="cart_block_no_products">
                                                    No products
                                                </p>
                                                <div class="cart-prices">
                                                    <div class="cart-prices-line first-line">
                                                        <span class="price cart_block_shipping_cost ajax_cart_shipping_cost">
                                                            Free shipping!
                                                        </span>
                                                        <span>
                                                            Shipping
                                                        </span>
                                                    </div>
                                                    <div class="cart-prices-line last-line">
                                                        <span class="price cart_block_total ajax_block_cart_total">$0.00</span>
                                                        <span>Total</span>
                                                    </div>
                                                </div>
                                                <p class="cart-buttons">
                                                    <a id="button_order_cart" class="btn btn-default button button-small" href="#" title="Check out" rel="nofollow">
                                                        <span>
                                                            Check out
                                                            <i class="icon-chevron-right right"></i>
                                                        </span>
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div><!-- .cart_block -->
                                </div>
                            </div>
                            <!-- #layer_cart -->
                            <div class="layer_cart_overlay"></div>

                            <!-- /MODULE Block cart --><!-- Block search module TOP -->
                            <div id="search_block_top" class=" clearfix">
                                <form id="searchbox" method="get" action="list.html">
                                    <input type="hidden" name="controller" value="search">
                                    <input type="hidden" name="orderby" value="position">
                                    <input type="hidden" name="orderway" value="desc">
                                    <input class="search_query form-control ac_input" type="text" id="search_query_top" name="search_query" placeholder="Search" value="" autocomplete="off">
                                    <button type="submit" name="submit_search" class="btn btn-default button-search">
                                        <span>Search</span>
                                    </button>
                                </form>
                            </div>
                            <!-- /Block search module TOP -->
                            <!-- Menu -->
                            <div id="block_top_menu" class="sf-contener clearfix col-lg-12">
                                <div class="cat-title">Categories</div>
                                <ul class="sf-menu clearfix menu-content sf-js-enabled sf-arrows">
                                    <li><a href="list.html" title="Acrylic Sheets" class="sf-with-ul">Acrylic Sheets</a>
                                    <ul class="submenu-container clearfix first-in-line-xs" style="display: none;">
                                        <li><a href="list.html" title="Lorem ipsum dolor" class="sf-with-ul">Lorem ipsum dolor</a>
                                        <ul style="display: none;">
                                            <li><a href="list.html" title="Sit amet conse">Sit amet conse</a></li>
                                            <li><a href="list.html" title="Ctetur adipisicing elit">Ctetur adipisicing elit</a></li>
                                            <li><a href="list.html" title="Sed do eiusmod">Sed do eiusmod</a></li>
                                            <li><a href="list.html" title="Tempor incididunt ut">Tempor incididunt ut</a></li>
                                            <li><a href="list.html" title="Labore et dolore">Labore et dolore</a></li>
                                        </ul>
                                        </li>
                                        <li><a href="list.html" title="Conse ctetur adipisicing" class="sf-with-ul">Conse ctetur adipisicing</a>
                                        <ul style="display: none;">
                                            <li><a href="list.html" title="Lorem ipsum dolor">Lorem ipsum dolor</a></li>
                                            <li><a href="list.html" title="Sit amet conse">Sit amet conse</a></li>
                                            <li><a href="list.html" title="Ctetur adipisicing elit">Ctetur adipisicing elit</a></li>
                                            <li><a href="list.html" title="Sed do eiusmod">Sed do eiusmod</a></li>
                                            <li><a href="list.html" title="Tempor incididunt ut">Tempor incididunt ut</a></li>
                                            <li><a href="list.html" title="Labore et dolore">Labore et dolore</a></li>
                                        </ul>
                                        </li>
                                        <li><a href="list.html" title="Elit sed do eiusmod" class="sf-with-ul">Elit sed do eiusmod</a>
                                        <ul style="display: none;">
                                            <li><a href="list.html" title="Lorem ipsum dolor">Lorem ipsum dolor</a></li>
                                            <li><a href="list.html" title="Sit amet conse">Sit amet conse</a></li>
                                            <li><a href="list.html" title="Ctetur adipisicing elit">Ctetur adipisicing elit</a></li>
                                            <li><a href="list.html" title="Sed do eiusmod">Sed do eiusmod</a></li>
                                            <li><a href="list.html" title="Tempor incididunt ut">Tempor incididunt ut</a></li>
                                            <li><a href="list.html" title="Labore et dolore">Labore et dolore</a></li>
                                        </ul>
                                        </li>
                                        <li><a href="list.html" title="Incididunt ut labore" class="sf-with-ul">Incididunt ut labore</a>
                                        <ul style="display: none;">
                                            <li><a href="list.html" title="Lorem ipsum dolor">Lorem ipsum dolor</a></li>
                                            <li><a href="list.html" title="Sit amet conse">Sit amet conse</a></li>
                                            <li><a href="list.html" title="Ctetur adipisicing elit">Ctetur adipisicing elit</a></li>
                                            <li><a href="list.html" title="Sed do eiusmod">Sed do eiusmod</a></li>
                                            <li><a href="list.html" title="Tempor incididunt ut">Tempor incididunt ut</a></li>
                                            <li><a href="list.html" title="Labore et dolore">Labore et dolore</a></li>
                                        </ul></li>
                                        <li id="category-thumbnail">
                                            <div><img src="http://livedemo00.template-help.com/prestashop_49514/img/c/3-0_thumb.jpg" alt="Acrylic Sheets" title="Acrylic Sheets" class="imgm"></div>
                                            <div><img src="http://livedemo00.template-help.com/prestashop_49514/img/c/3-1_thumb.jpg" alt="Acrylic Sheets" title="Acrylic Sheets" class="imgm"></div>
                                        </li>
                                    </ul>
                                    </li>
                                    <li><a href="list.html" title="Boat Docks &amp; Accessories">Boat Docks &amp; Accessories</a></li>
                                    <li><a href="list.html" title="Builders Hardware">Builders Hardware</a></li>
                                    <li><a href="list.html" title="Ceilings">Ceilings</a></li>
                                    <li><a href="list.html" title="Cement &amp; Masonry">Cement &amp; Masonry</a></li>
                                    <li><a href="list.html" title="Drywall">Drywall</a></li>
                                    <li><a href="list.html" title="Fireplace &amp; Hearth">Fireplace &amp; Hearth</a></li>
                                    <li><a href="list.html" title="Insulation">Insulation</a></li>
                                    <li><a href="list.html" title="Interior Stair Parts">Interior Stair Parts</a></li>
                                    <li><a href="list.html" title="Ladders">Ladders</a></li>
                                    <li><a href="list.html" title="Moulding &amp; Millwork">Moulding &amp; Millwork</a></li>
                                    <li><a href="list.html" title="Roofing &amp; Gutters">Roofing &amp; Gutters</a></li>
                                    <li><a href="list.html" title="Safety Equipment">Safety Equipment</a></li>
                                    <li><a href="list.html" title="Siding">Siding</a></li>
                                </ul>
                            </div>
                            <!--/ Menu -->
                        </div>
                    </div>
                </div>
            </header>
        </div>