        <div class="header-container">
            <header id="header">
                <div class="banner">
                    <div class="container">
                        <div class="row"></div>
                    </div>
                </div>
                <div style="margin-top: 20px;">
                    <div class="container">
                        <div class="row">
                            <div id="header_logo">
                                <a href="/" title="Storage Building Materials ">
                                    <img class="logo img-responsive" width="276" height="82" src="/img/logo.png" alt="SumberPerkakas.co.id" title="SumberPerkakas.co.id">
                                </a>
                            </div>
                            <!-- Block user information module NAV  -->
                            <ul class="user_info" style="visibility:hidden;">
                                <li>
                                    <a href="#" title="View my customer account" rel="nofollow">
                                        <i class="icon-user"></i>Your Account
                                    </a>
                                </li>
                                <li>
                                    <a class="login" href="#" rel="nofollow" title="Login to your customer account">
                                        <i class="icon-lock"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- /Block usmodule NAV -->
                            <!-- MODULE Block cart -->
                            <div class="box-cart col-sm-3 clearfix" style="visibility: hidden">
                                <div class="shopping_cart">
                                    <a href="#" title="View my shopping cart" rel="nofollow">
                                        <b>Cart</b>
                                        <span class="ajax_cart_quantity unvisible">0</span>
                                        <span class="ajax_cart_product_txt unvisible">Product</span>
                                        <span class="ajax_cart_product_txt_s unvisible">Products</span>
                                        <span class="ajax_cart_total unvisible"></span>
                                        <span class="ajax_cart_no_product">(empty)</span>
                                    </a>
                                    <div class="cart_block block exclusive">
                                        <div class="block_content">
                                            <!-- block list of products -->
                                            <div class="cart_block_list">
                                                <p class="cart_block_no_products">
                                                    No products
                                                </p>
                                                <div class="cart-prices">
                                                    <div class="cart-prices-line first-line">
                                                        <span class="price cart_block_shipping_cost ajax_cart_shipping_cost">
                                                            Free shipping!
                                                        </span>
                                                        <span>
                                                            Shipping
                                                        </span>
                                                    </div>
                                                    <div class="cart-prices-line last-line">
                                                        <span class="price cart_block_total ajax_block_cart_total">$0.00</span>
                                                        <span>Total</span>
                                                    </div>
                                                </div>
                                                <p class="cart-buttons">
                                                    <a id="button_order_cart" class="btn btn-default button button-small" href="#" title="Check out" rel="nofollow">
                                                        <span>
                                                            Check out
                                                            <i class="icon-chevron-right right"></i>
                                                        </span>
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div><!-- .cart_block -->
                                </div>
                            </div>
                            <!-- #layer_cart -->
                            <div class="layer_cart_overlay"></div>

                            <!-- /MODULE Block cart --><!-- Block search module TOP -->
                            <div id="search_block_top" class=" clearfix">
                                <form name="form1" id="searchbox" method="get" action="/product/search">
                                    <input class="search_query form-control ac_input" type="text" id="search_query_top" name="keyword" placeholder="Cari" value="" autocomplete="off">
                                    <button type="submit" name="submit_search" class="btn btn-default button-search">
                                        <span>Cari</span>
                                    </button>
                                </form>
                            </div>
                            <!-- /Block search module TOP -->
                        </div>
                    </div>
                </div>
            </header>
        </div>