<script type="text/javascript">
function doBrand(id) {
	window.location.href = '/product/list/bid/'+id;
}
</script>
	<section class="sidebar">
		<div class="sidecategory">
		<?php 
			$logic1 = New Logic_Category;
			$logic2 = New Logic_SubCategory;
			$logic3 = New Logic_SubCategory1;
			$logic4 = New Logic_SubCategory2;
			
			$categories = $logic1->getAll();
			?>
			<div class="sidecategorytitle"><span class="realtext">Kategori</span></div>
			<div class="sidecategorybody">
				<ul class="accordion">
					<li><a href="/product/list/all/2">Semua Kategori</a></li>
				<?php 
					foreach($categories as $category) : 
					$sub_categories = $logic2->findByCategoryId($category['id'], 1);
					if(count($sub_categories)) : ?>
					<li><a href="#mc<?=$category['id']?>"><?=$category['name']?></a>
						<ul>
						<?php 
							foreach($sub_categories as $sub_category) : 
							$sub_categories1 = $logic3->findBySubCategoryId($sub_category['id'], 1);
							if(count($sub_categories1)) : ?>
							<li><a href="#c<?=$sub_category['id']?>"><?=$sub_category['name']?></a>
								<ul>
								<?php 
									foreach($sub_categories1 as $sub_category1) : 
									$sub_categories2 = $logic4->findBySubCategory1Id($sub_category1['id'], 1);
									if(count($sub_categories2)) : ?>
									<li><a href="#sc<?=$sub_category1['id']?>"><?=$sub_category1['name']?></a>
										<ul>
										<?php foreach($sub_categories2 as $sub_category2) : ?>
											<li><a href="/product/list/sc2id/<?=$sub_category2['id']?>#sc<?=$sub_category1['id']?>"><?=$sub_category2['name']?></a></li>
										<?php endforeach; ?>
										</ul>
									</li>
									<?php else : ?>
									<li><a href="/product/list/scid/<?=$sub_category1['id']?>#c<?=$sub_category['id']?>"><?=$sub_category1['name']?></a></li>
									<?php endif; ?>
								<?php endforeach; ?>
								</ul>
							</li>
							<?php else : ?>
							<li><a href="/product/list/cid/<?=$sub_category['id']?>#mc<?=$category['id']?>"><?=$sub_category['name']?></a></li>
							<?php endif; ?>
						<?php endforeach; ?>
						</ul>
					</li>
					<?php else : ?>
					<li><a href="/product/list/mcid/<?=$category['id']?>"><?=$category['name']?></a></li>
					<?php endif; ?>
				<?php endforeach; ?>
				</ul>
			</div>
		</div>
		<div class="sidebrand">
		<?php
			$logic = New Logic_Brand;
			$brands = $logic->getAll();?>
				<div class="sidebrandtitle"><span class="realtext">Merk</span></div>
				<div class="sidebrandbody">
					<ul>
						<li><select>
							<option value="" onClick="window.location.href = '/product/list/all/3'">Semua Merk</option>
							<?php foreach($brands as $brand) :?>
							<option value="<?= $brand['id'] ?>" onClick="doBrand(<?= $brand['id'] ?>);" 
							<?php if($this->brand_id == $brand['id']) echo 'selected="true"';?>><?= $brand['name'] ?></option>
							<?php endforeach;?>
							</select></li>
					</ul>
				</div>
		</div>
	</section>
