<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 " lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8" lang="en"><![endif]-->
<!--[if gt IE 8]> <html class="no-js ie9" lang="en"><![endif]-->
<html lang="en">
<head>
    <title>SumberPerkakas.co.id</title>
    <link rel="icon" href="img/favicon.png">
    
    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta name="title" content="SumberPerkakas.co.id, Pusat Belanja Perkakas Online">
    <meta name="description" content="SumberPerkakas.co.id, Pusat Belanja Perkakas Online">
    <meta name="keywords" content="SumberPerkakas.co.id,Pusat,Belanja,Perkakas,Online">
    <meta name="author" content="herisher">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, minimum-scale=0.25, maximum-scale=1.0, initial-scale=1.0"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/global.css" media="all">
    <link rel="stylesheet" href="/css/autoload/highdpi.css" media="all">
    <link rel="stylesheet" href="/css/autoload/responsive-tables.css" media="all">
    <link rel="stylesheet" href="/css/autoload/uniform.default.css" media="all">
    <link rel="stylesheet" href="/js/jquery/plugins/fancybox/jquery.fancybox.css" media="all">
    <link rel="stylesheet" href="/css/product_list.css" media="all">
    <link rel="stylesheet" href="/css/modules/blockcart/blockcart.css" media="all">
    <link rel="stylesheet" href="/css/modules/blockcategories/blockcategories.css" media="all">
    <link rel="stylesheet" href="/css/modules/blockcurrencies/blockcurrencies.css" media="all">
    <link rel="stylesheet" href="/modules/blockfacebook/css/blockfacebook.css" media="all">
    <link rel="stylesheet" href="/css/modules/blocklanguages/blocklanguages.css" media="all">
    <link rel="stylesheet" href="/css/modules/blockcontact/blockcontact.css" media="all">
    <link rel="stylesheet" href="/css/modules/blocknewsletter/blocknewsletter.css" media="all">
    <link rel="stylesheet" href="/js/jquery/plugins/autocomplete/jquery.autocomplete.css" media="all">
    <link rel="stylesheet" href="/css/modules/blocksearch/blocksearch.css" media="all">
    <link rel="stylesheet" href="/css/modules/blocktags/blocktags.css" media="all">
    <link rel="stylesheet" href="/css/modules/blockuserinfo/blockuserinfo.css" media="all">
    <link rel="stylesheet" href="/css/modules/blockviewed/blockviewed.css" media="all">
    <link rel="stylesheet" href="/css/modules/homeslider/homeslider.css" media="all">
    <link rel="stylesheet" href="/css/modules/themeconfigurator/css/hooks.css" media="all">
    <link rel="stylesheet" href="/css/modules/themeconfigurator/css/live_configurator.css" media="all">
    <link rel="stylesheet" href="/css/modules/blockwishlist/blockwishlist.css" media="all">
    <link rel="stylesheet" href="/css/modules/productcomments/productcomments.css" media="all">
    <link rel="stylesheet" href="/css/modules/blockpermanentlinks/blockpermanentlinks.css" media="all">
    <link rel="stylesheet" href="/modules/themeconfiglink/themeconfiglink.css" media="all">
    <link rel="stylesheet" href="/css/modules/blocktopmenu/css/blocktopmenu.css" media="all">
    <link rel="stylesheet" href="/css/modules/blocktopmenu/css/superfish-modified.css" media="all">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900" rel="stylesheet" type="text/css">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script type="application/x-javascript" src="/js/jquery.jcarousellite.pauseOnHover.js"></script>
    <!--[if IE 8]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body id="index" class="index hide-right-column lang_en">
    <!--[if IE 8]>
    <div style='clear:both;height:59px;padding:0 15px 0 15px;position:relative;z-index:10000;text-align:center;'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div>
    <![endif]-->
    <div id="page">
        <?= $this->render("header.html"); ?>
        
        <div class="columns-container-bg1">
            <div class="columns-container">
                <div id="columns" class="container">
                    <div class="row">
                        <?= $this->render("leftmenu.html"); ?>
                        <div id="center_column" class="center_column col-xs-12 col-sm-9">
                            <div id="top_column" class="center_column">
                                <!-- Module HomeSlider -->
                                <div id="homepage-slider">
                                    <ul id="homeslider">
                                        <?php foreach( $this->image_slider as $image ) : ?>
                                        <li class="homeslider-container">
                                            <a href="<?= $image['detail_image_url'] ?>" title="Deskripsi Gambar">
                                                <img src="<?= $image['image_url'] ?>" width="870" height="315" alt="Gambar Berjalan">
                                            </a>
                                        </li>
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                                <!-- /Module HomeSlider -->
                            </div>
                            <ul id="home-page-tabs" class="nav nav-tabs clearfix">
                                <li class="active">
                                    <a data-toggle="tab" href="list#blocknewproducts" class="blocknewproducts" title="New arrivals">Produk Promo</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <!-- Products list -->
                                <ul id="blocknewproducts" class="product_list grid row blocknewproducts tab-pane active">
                                    <?php 
                                        $i = 1;
                                        foreach($this->promos as $item) : ?>
                                    <li class="ajax_block_product col-xs-12 col-sm-6 col-md-3">
                                        <div class="product-container">
                                            <div class="left-block">
                                                <div class="product-image-container">
                                                    <a class="product_img_link" href="/product/detail/id/<?= $item['id'] ?>" title="<?= $item['name']?>">
                                                        <img class="replace-2x img-responsive" src="<?= $item['image_url1']?>" alt="<?= $item['name']?>" title="<?= $item['name']?>">
                                                    </a>
                                                    <span class="sale-box">
                                                        <span class="sale-label">Sale!</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5>
                                                    <a class="product-name" href="/product/detail/id/<?= $item['id'] ?>" title="<?= $item['name']?>" >
                                                        <span class="grid-name"><?= substr(h(ucfirst($item['name'])),0,47) ?></span>
                                                    </a>
                                                </h5>
                                                <div class="content_price">
                                                    <meta itemprop="priceCurrency" content="1">
                                                        <span class="old-price product-price">IDR <?= number_format($item['price']) ?></span>
                                                        <span class="price-percent-reduction">-5%</span>
                                                    <br>
                                                    <span itemprop="price" class="price product-price">IDR <?= number_format($item['current_price']) ?></span>
                                                </div>
                                            </div>
                                        </div><!-- .product-container> -->
                                    </li>
                                    <?php endforeach; ?>
                                </ul>
                                
                            </div>
                            <ul id="home-page-tabs" class="nav nav-tabs clearfix">
                                <li class="active">
                                    <a data-toggle="tab" href="list#homefeatured" class="homefeatured" title="Popular">Produk Popular</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <!-- Products list -->
                                <ul id="homefeatured" class="product_list grid row homefeatured tab-pane active">
                                    <?php 
                                        $i = 1;
                                        foreach($this->popular as $item) : ?>
                                    <li class="ajax_block_product col-xs-12 col-sm-6 col-md-3">
                                        <div class="product-container">
                                            <div class="left-block">
                                                <div class="product-image-container">
                                                    <a class="product_img_link" href="/product/detail/id/<?= $item['id'] ?>" title="<?= $item['name']?>">
                                                        <img class="replace-2x img-responsive" src="<?= $item['image_url1']?>" alt="<?= $item['name']?>" title="<?= $item['name']?>">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="right-block">
                                                <h5>
                                                    <a class="product-name" href="/product/detail/id/<?= $item['id'] ?>" title="<?= $item['name']?>">
                                                        <span class="grid-name"><?= substr(h(ucfirst($item['name'])),0,47) ?></span>
                                                    </a>
                                                </h5>
                                                <div class="content_price">
                                                    <span class="price product-call">Harga Hubungi Kami<br>0251-8362849</span>
                                                </div>
                                            </div>
                                        </div><!-- .product-container> -->
                                    </li>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
            </div><!-- #center_column -->
            <div class="container">
                <div class="row">
                    <div class="clearfix block-cms-fb">
                        <h3 style="margin: 15px 20px;
                                    font: bold 18px/20px 'Roboto',sans-serif;
                                    text-transform: uppercase;
                                    color: #000; float: left;">Brand Pilihan</h3>
                        <!-- Brand Slider -->
                        <div class="buttons" style="float: right; margin: 15px 15px;">
                            <img style="width: 30px;" id="prevbtn" src="/img/prev.png"/>
                            <img style="width: 30px;" id="nextbtn" src="/img/next.png"/>
                            <div class="clearfix"></div>
                        </div>
                        <div id="brand-slider">
                            <div id="brandslider" style="float: left; padding-left: 20px;">
                                <ul>
                                    <li style="width: 200px; height: 100px;"><a href="/product/list"><img src="/img/brand/bosch_logo.jpg" title="bosch" /></a></li>
                                    <li style="width: 200px; height: 100px;"><a href="/product/list"><img src="/img/brand/firman_logo.jpg" title="firman" /></a></li>
                                    <li style="width: 200px; height: 100px;"><a href="/product/list"><img src="/img/brand/karcher_logo.jpg" title="karcher" /></a></li>
                                    <li style="width: 200px; height: 100px;"><a href="/product/list"><img src="/img/brand/multipro_logo.jpg" title="multipro" /></a></li>
                                    <li style="width: 200px; height: 100px;"><a href="/product/list"><img src="/img/brand/skil_logo.jpg" title="skil" /></a></li>
                                    <li style="width: 200px; height: 100px;"><a href="/product/list"><img src="/img/brand/union_logo.jpg" title="union" /></a></li>
                                    <li style="width: 200px; height: 100px;"><a href="/product/list"><img src="/img/brand/wim_logo.jpg" title="wim" /></a></li>
                                    <li style="width: 200px; height: 100px;"><a href="/product/list"><img src="/img/brand/fujiyama_logo.jpg" title="fujiyama" /></a></li>
                                    <li style="width: 200px; height: 100px;"><a href="/product/list"><img src="/img/brand/tanaka_logo.jpg" title="tanaka" /></a></li>
                                    <li style="width: 200px; height: 100px;"><a href="/product/list"><img src="/img/brand/tasco_logo.jpg" title="tasco" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /Brand Slider -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="clearfix block-cms-fb">     
                        <div id="fb-root" class=" fb_reset">
                        </div>
                        <div id="facebook_block" class="col-xs-4">
                            <h4>Follow us on facebook</h4>
                            <div class="facebook-fanbox">
                                <div class="fb-like-box fb_iframe_widget" data-href="https://www.facebook.com/prestashop" data-height="200" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=334341610034299&amp;color_scheme=light&amp;header=false&amp;height=200&amp;href=https%3A%2F%2Fwww.facebook.com%2Fprestashop&amp;locale=en_US&amp;sdk=joey&amp;show_border=false&amp;show_faces=true&amp;stream=false">
                                    <span>
                                        <iframe name="f1f24a3068" width="1000px" height="200px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:like_box Facebook Social Plugin" src="http://www.facebook.com/plugins/like_box.php?app_id=334341610034299&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FZEbdHPQfV3x.js%3Fversion%3D41%23cb%3Df361081d6%26domain%3Dlivedemo00.template-help.com%26origin%3Dhttp%253A%252F%252Flivedemo00.template-help.com%252Ff2627b43f8%26relation%3Dparent.parent&amp;color_scheme=light&amp;header=false&amp;height=200&amp;href=https%3A%2F%2Fwww.facebook.com%2Fprestashop&amp;locale=en_US&amp;sdk=joey&amp;show_border=false&amp;show_faces=true&amp;stream=false" style="border: none; visibility: visible; width: 300px; height: 200px;" class=""></iframe>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- MODULE Block cmsinfo -->
                        <div id="cmsinfo_block">
                            <div class="col-xs-8">
                                <ul>
                                    <li>
                                        <em class="icon-truck" id="icon-truck"></em>
                                        <div class="type-text">
                                            <h3>Gratis Biaya Pengiriman</h3>
                                            <p>Untuk pembelian diatas IDR 500.000,-</p>
                                        </div>
                                    </li>
                                    <li>
                                        <em class="icon-phone" id="icon-phone"></em>
                                        <div class="type-text">
                                            <h3>Hubungi Kami:  0251 - 8362849</h3>
                                            <p>Senin - Jum'at: 08.30 - 19.00 WIB <br>
                                               Sabtu: 09.00 - 16.00 WIB</p>
                                        </div>
                                    </li>
                                    <li>
                                        <em class="icon-check-sign" id="icon-check-sign"></em>
                                        <div class="type-text">
                                            <h3>Authorized Dealer</h3>
                                            <p>Authorized dealer dari merk-merk terkenal ( Bosch, Karcher, Multipro, KDK, CKE, Karcher, IPC, Skill, FIRMAN dll).</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-4">
                                <h3>Pembayaran Melalui</h3>
                                <br>
                                <ul>
                                    <li><img width=165 src="/img/bank/bca_ok.jpg" title="bca" /></li>
                                    <li><img width=165 src="/img/bank/bni_ok.jpg" title="bni" /></li>
                                    <li><img width=165 src="/img/bank/mandiri_ok.png" title="mandiri" /></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /MODULE Block cmsinfo -->
                    </div>
                </div>
            </div>
        </div><!-- .row -->
    </div><!-- #columns -->
            </div><!-- columns-container -->
        </div><!-- .columns-container-bg1 -->
        
        <?= $this->render("footer.html"); ?>
    </div><!-- #page -->

<script type="text/javascript">
var CUSTOMIZE_TEXTFIELD = 1;
var FancyboxI18nClose = 'Close';
var FancyboxI18nNext = 'Next';
var FancyboxI18nPrev = 'Previous';
var added_to_wishlist = 'Added to your wishlist.';
var ajaxsearch = true;
//var baseDir = 'http://sumberperkakas.co.id/';
//var baseUri = 'http://sumberperkakas.co.id/';
var blocksearch_type = 'top';
var comparator_max_item = 2;
var comparedProductsIds = [];
var contentOnly = false;
var customizationIdMessage = 'Customization #';
var delete_txt = 'Delete';
var freeProductTranslation = 'Free!';
var freeShippingTranslation = 'Free shipping!';
var generated_date = 1411627542;
var homeslider_loop = true;
var homeslider_pause = '3000';
var homeslider_speed = '500';
var homeslider_width = '870';
var id_lang = 1;
var img_dir = 'http://sumberperkakas.co.id/img/';
var instantsearch = true;
var isGuest = 0;
var isLogged = 0;
var loggin_required = 'You must be logged in to manage your wishlist.';
var max_item = 'You cannot add more than 2 product(s) to the product comparison';
var min_item = 'Please select at least one product';
var mywishlist_url = 'http://livedemo00.template-help.com/prestashop_49514/index.php?fc=module&module=blockwishlist&controller=mywishlist&id_lang=1';
var nbItemsPerLine = 3;
var nbItemsPerLineMobile = 2;
var nbItemsPerLineTablet = 2;
var page_name = 'index';
var priceDisplayMethod = 1;
var priceDisplayPrecision = 2;
var quickView = true;
var removingLinkText = 'remove this product from my cart';
var roundMode = 2;
var search_url = 'http://livedemo00.template-help.com/prestashop_49514/index.php?controller=search';
var static_token = '58ed9c8c81e8105c77bf7df2929aff22';
var token = '15d486086a55ff6d28afe22ff7868a2a';
var usingSecureMode = false;
var wishlistProductsIds = false;
</script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.easing.js"></script>
<script type="text/javascript" src="/js/tools.js"></script>
<script type="text/javascript" src="/js/global.js"></script>
<script type="text/javascript" src="/js/autoload/10-bootstrap.min.js"></script>
<script type="text/javascript" src="/js/autoload/15-jquery.total-storage.min.js"></script>
<script type="text/javascript" src="/js/autoload/15-jquery.uniform-modified.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/fancybox/jquery.fancybox.js"></script>
<script type="text/javascript" src="/js/products-comparison.js"></script>
<!--script type="text/javascript" src="/js/modules/blockcart/ajax-cart.js"></script-->
<script type="text/javascript" src="/js/jquery/plugins/jquery.scrollTo.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.serialScroll.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/bxslider/jquery.bxslider.js"></script>
<script type="text/javascript" src="/js/tools/treeManagement.js"></script>
<script type="text/javascript" src="modules/blockfacebook/blockfacebook.js"></script>
<script type="text/javascript" src="/js/modules/blocknewsletter/blocknewsletter.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/autocomplete/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/js/modules/blocksearch/blocksearch.js"></script>
<script type="text/javascript" src="/js/modules/homeslider/js/homeslider.js"></script>
<script type="text/javascript" src="/js/modules/blockwishlist/js/ajax-wishlist.js"></script>
<script type="text/javascript" src="/js/modules/blocktopmenu/js/hoverIntent.js"></script>
<script type="text/javascript" src="/js/modules/blocktopmenu/js/superfish-modified.js"></script>
<script type="text/javascript" src="/js/modules/blocktopmenu/js/blocktopmenu.js"></script>

</body>
</html>