@charset "UTF-8";
/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
#categories_block_top {
  clear: both;
  position: relative;
  top: 30px; }
  #categories_block_top .sf-menu {
    position: relative; }
    #categories_block_top .sf-menu > li {
      position: static; }
      #categories_block_top .sf-menu > li > ul {
        width: 100%;
        top: 60px;
        margin: 0 20px; }
        #categories_block_top .sf-menu > li > ul > li {
          display: block;
          float: left;
          width: 20%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0 10px; }
        #categories_block_top .sf-menu > li > ul > .category_thumb {
          display: block;
          clear: both;
          overflow: hidden;
          width: 100%; }
          #categories_block_top .sf-menu > li > ul > .category_thumb img {
            display: inline-block;
            width: 33%; }
      #categories_block_top .sf-menu > li h4 a {
        font-size: 1.1em; }
        #categories_block_top .sf-menu > li h4 a:before {
          display: none; }
      #categories_block_top .sf-menu > li .main-level-submenus {
        position: relative;
        display: block !important;
        visibility: visible !important;
        top: 0;
        background: none;
        box-shadow: none;
        padding: 0;
        left: 0; }
    #categories_block_top .sf-menu .category_thumb {
      display: none; }

#categories_block_left .block_content > ul > li.active > a {
  background: #ff0122; }

@media (max-width: 767px) {
  #categories_block_left {
    display: none; } }
#categories_block_left .block_content > ul > li {
  position: relative; }
#categories_block_left li {
  position: relative; }
  #categories_block_left li.extra-item a {
    background: #ff0122; }
  #categories_block_left li a {
    color: #fff;
    display: block;
    font: bold 15px/18px "Roboto", sans-serif;
    border-bottom: 1px solid #000;
    background: #303030;
    padding: 11px 30px 11px 20px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    @media (max-width: 991px) {
      #categories_block_left li a {
        padding: 11px 30px 10px 15px; } }
  #categories_block_left li span.grower {
    display: block;
    position: absolute;
    right: 0;
    top: 6px;
    cursor: pointer;
    font-family: "FontAwesome";
    color: #fff;
    font-size: 16px; }
    #categories_block_left li span.grower.OPEN:before, #categories_block_left li span.grower.CLOSE:before {
      content: "";
      display: block;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      color: #fff;
      line-height: 30px;
      text-align: center; }
    #categories_block_left li span.grower.CLOSE:before {
      content: ""; }
  #categories_block_left li span.grower:hover + a,
  #categories_block_left li a:hover,
  #categories_block_left li a.selected {
    background: #ff0122;
    color: white; }
  #categories_block_left li ul {
    background: #454545;
    padding-top: 18px;
    border-bottom: 1px solid #000; }
  #categories_block_left li ul ul {
    border: none; }
  #categories_block_left li ul li {
    border: none;
    padding: 0;
    padding-left: 19px;
    padding-right: 30px;
    margin-bottom: 6px; }
    @media (max-width: 991px) {
      #categories_block_left li ul li {
        padding-left: 15px; } }
    #categories_block_left li ul li:first-child {
      margin-top: 0px; }
    #categories_block_left li ul li.last {
      padding-bottom: 17px;
      margin-bottom: 0; }
    #categories_block_left li ul li ul {
      margin: 0;
      padding-top: 6px; }
      #categories_block_left li ul li ul li.last {
        padding-bottom: 10px; }
    #categories_block_left li ul li span.grower {
      top: -6px;
      font-size: 13px; }
    #categories_block_left li ul li a {
      background: none !important;
      color: #fff;
      font-size: 13px;
      text-transform: none;
      font-weight: normal;
      border: none;
      padding: 0; }
      #categories_block_left li ul li a:hover {
        color: #ff0122; }
    #categories_block_left li ul li ul li:first-child {
      margin-top: 4px; }
