@charset "UTF-8";
/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
/* Top hook CSS */
#htmlcontent_top {
  float: right;
  clear: right;
  padding: 23px 0 0; }
  @media (max-width: 767px) {
    #htmlcontent_top {
      display: none; } }
  #htmlcontent_top ul {
    margin: 0; }
    #htmlcontent_top ul li {
      width: 100%; }
      #htmlcontent_top ul li:last-child {
        margin-bottom: 0; }
      #htmlcontent_top ul li h2 {
        font-size: 25px;
        line-height: 1em;
        font-weight: bold;
        color: #ff0122;
        font-family: "Roboto", sans-serif;
        margin: 0; }
        #htmlcontent_top ul li h2 span {
          color: #333333; }
      #htmlcontent_top ul li img {
        max-width: 100%;
        height: auto; }

/* Left hook CSS */
#htmlcontent_left {
  margin-bottom: 30px; }
  #htmlcontent_left ul {
    margin: 0; }
  #htmlcontent_left .item-html {
    background: #ff0122;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNWYwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNzU2MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ff0122 0%, #e7001e 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0122), color-stop(100%, #e7001e));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff0122 0%, #e7001e 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff0122 0%, #e7001e 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff0122 0%, #e7001e 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ff0122 0%, #e7001e 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0122', endColorstr='#e7001e',GradientType=0 );
    /* IE6-8 */
    padding: 19px 20px 26px 30px; }
    @media (max-width: 1199px) {
      #htmlcontent_left .item-html {
        padding: 19px 20px 23px 20px; } }
    #htmlcontent_left .item-html h2 {
      color: #fff;
      margin: 0;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-size: 58px;
      line-height: 60px; }
      @media (max-width: 1199px) {
        #htmlcontent_left .item-html h2 {
          font-size: 45px;
          line-height: 46px; } }
      @media (max-width: 991px) {
        #htmlcontent_left .item-html h2 {
          font-size: 40px;
          line-height: 42px; } }
      #htmlcontent_left .item-html h2 strong {
        font-size: 46px;
        line-height: 48px;
        display: block;
        margin-top: -10px; }
        @media (max-width: 1199px) {
          #htmlcontent_left .item-html h2 strong {
            font-size: 37px;
            line-height: 42px; } }
        @media (max-width: 991px) {
          #htmlcontent_left .item-html h2 strong {
            font-size: 25px;
            line-height: 32px; } }
    #htmlcontent_left .item-html h3 {
      color: #2c2c2c;
      margin: -5px 0 4px;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-size: 21px;
      line-height: 23px; }
  #htmlcontent_left span {
    display: block;
    color: #fff;
    font-size: 12px;
    line-height: 18px; }

/* Right hook CSS */
#htmlcontent_home li {
  margin-bottom: 30px; }
  @media (max-width: 991px) {
    #htmlcontent_home li {
      float: none;
      width: 100%; } }
#htmlcontent_home a {
  overflow: hidden;
  position: relative;
  display: block;
  background: #ff0122;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNWYwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNzU2MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ff0122 0%, #e7001e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0122), color-stop(100%, #e7001e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff0122 0%, #e7001e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff0122 0%, #e7001e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff0122 0%, #e7001e 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff0122 0%, #e7001e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0122', endColorstr='#e7001e',GradientType=0 );
  /* IE6-8 */ }
  #htmlcontent_home a img {
    float: left; }
    @media (max-width: 479px) {
      #htmlcontent_home a img {
        float: none;
        margin: 0 0 0;
        width: 100%;
        height: auto; } }
  #htmlcontent_home a .item-html {
    padding: 20px;
    overflow: hidden; }
    #htmlcontent_home a .item-html:after {
      font-family: "FontAwesome";
      font-size: 29px;
      line-height: 30px;
      color: #fff;
      content: "";
      position: absolute;
      bottom: 20px;
      right: 20px; }
    #htmlcontent_home a .item-html h2 {
      color: #fff;
      font-weight: bold;
      font-size: 28px;
      line-height: 29px;
      margin: 0;
      text-transform: uppercase; }
      @media (min-width: 992px) and (max-width: 1199px) {
        #htmlcontent_home a .item-html h2 {
          font-size: 16px;
          line-height: 24px; } }
      @media (max-width: 479px) {
        #htmlcontent_home a .item-html h2 {
          font-size: 20px;
          line-height: 24px; } }
    #htmlcontent_home a .item-html span {
      color: #fff;
      font-size: 13px;
      line-height: 18px;
      padding-right: 25px;
      display: block; }
      @media (min-width: 992px) and (max-width: 1199px) {
        #htmlcontent_home a .item-html span {
          display: none; } }
#htmlcontent_home a:hover {
  background: #3f3f3f;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmM2YzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNzE3MTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #3f3f3f 0%, #171717 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3f3f3f), color-stop(100%, #171717));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3f3f3f 0%, #171717 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3f3f3f 0%, #171717 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3f3f3f 0%, #171717 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #3f3f3f 0%, #171717 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f3f3f', endColorstr='#171717',GradientType=0 );
  /* IE6-8 */ }

/* Footer hook CSS */
