@charset "UTF-8";
/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
#currencies-block-top {
  float: right;
  position: relative;
  margin-left: 25px;
  padding-top: 12px; }
  #currencies-block-top span.firstWord {
    display: none; }
  #currencies-block-top div.current {
    padding: 0;
    cursor: pointer; }
    #currencies-block-top div.current strong {
      color: #ff0122;
      font-weight: normal; }
    #currencies-block-top div.current .cur-label {
      display: none; }
    #currencies-block-top div.current:hover, #currencies-block-top div.current.active, #currencies-block-top div.current.active a {
      color: #777; }
    #currencies-block-top div.current.active:after, #currencies-block-top div.current.active a:after {
      content: ""; }
    #currencies-block-top div.current:after {
      content: "";
      font-family: "FontAwesome";
      font-size: 15px;
      line-height: 18px;
      color: #777;
      vertical-align: -2px;
      padding-left: 12px; }
      @media (max-width: 479px) {
        #currencies-block-top div.current:after {
          padding-left: 2px;
          font-size: 13px;
          line-height: 13px;
          vertical-align: 0; } }
    @media (max-width: 479px) {
      #currencies-block-top div.current .cur-label {
        display: none; } }
  #currencies-block-top ul {
    display: none;
    position: absolute;
    top: 37px;
    right: 0;
    width: 157px;
    background: #1b1b1b;
    z-index: 2; }
    #currencies-block-top ul li {
      color: white;
      line-height: 35px;
      font-size: 13px; }
      #currencies-block-top ul li a,
      #currencies-block-top ul li > span {
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        padding: 0 10px 0 12px;
        display: block;
        color: white; }
      #currencies-block-top ul li.selected, #currencies-block-top ul li:hover a, #currencies-block-top ul li.selected a {
        color: #ff0122; }
