/* ------- FONTS ------- */
/* ------- BORDERS ------- */
/* ------- BACKGROUNDS ------- */
/* ------- COLORS ------- */
/* ------- Indents ------- */
/* ------- Product Elements ------- */
/* ------- Buttons ------- */
/* ------- Buttons +/- ------ */
/* ------- Button Small ------- */
/* ------- Button exclusive-medium ------- */
/* ------- My Account List bg ------- */
/* ------- Product Listing ------- */
/* ------- Grid/List vars ------- */
/* ------- Pagination vars ------- */
/* ------- Product Info ------- */
/* ------- Cart Steps ------- */
/* ------- sub heading (h2,h3) define ------- */
/* ------- Image vars ------- */
.header_user_info {
  float: right; }
  .header_user_info a {
    color: white;
    font-weight: bold;
    display: block;
    font-size: 15px;
    line-height: 18px;
    padding: 8px 9px 11px 8px;
    cursor: pointer;
    @incluse border-radius(10px); }
    .header_user_info a:hover, .header_user_info a.active {
      background: #2b2b2b; }
  .header_user_info + .header_user_info {
    border-right: none; }

.user_info {
  float: right;
  margin: 37px 0 0 0;
  clear: right; }
  .user_info li {
    display: inline-block;
    padding-right: 15px; }
    .user_info li a {
      padding: 6px 15px 7px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      display: block;
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      color: #333333;
      border: 1px solid #c1c1c1;
      background: #ffffff;
      /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, white 0%, #e6e6e6 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e6e6e6));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, white 0%, #e6e6e6 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, white 0%, #e6e6e6 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, white 0%, #e6e6e6 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 );
      /* IE6-8 */
      text-decoration: none;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .user_info li a i {
        font-size: 18px;
        font-weight: normal;
        color: #ff0122;
        line-height: 18px;
        margin-right: 6px;
        display: inline-block; }
      .user_info li a:hover {
        color: #ff0122; }
  .user_info li + li a {
    margin: 0;
    width: 49px;
    text-align: center;
    padding: 6px 0 7px; }
    .user_info li + li a i {
      margin: 0; }
  .user_info li + li a:hover i {
    color: #333333; }
