<!-- sidemenu start -->
<div id="side_menu">
  <div id="side_menu_in">
    <ul>
        <li class="title">Produk</li>
			<li><a class="input_b2" href="/manager/product/list"> Daftar Produk </a></li>
			<li><a class="input_b2" href="/manager/product/create"> Registrasi Produk </a></li>
		
        <li class="title">Merk</li>
			<li><a class="input_b2" href="/manager/brand/list"> Daftar Merk </a></li>
			<li><a class="input_b2" href="/manager/brand/create"> Registrasi Merk </a></li>
		
        <li class="title">Kategori Utama Produk</li>
			<li><a class="input_b2" href="/manager/category/list"> Daftar Kategori Utama Produk </a></li>
			<li><a class="input_b2" href="/manager/category/create"> Registrasi Kategori Utama Produk </a></li>
			
        <li class="title">Kategori Produk</li>
			<li><a class="input_b2" href="/manager/sub-category/list"> Daftar Kategori Produk </a></li>
			<li><a class="input_b2" href="/manager/sub-category/create"> Registrasi Kategori Produk </a></li>
			
        <li class="title">Sub Kategori Produk</li>
			<li><a class="input_b2" href="/manager/sub-category1/list"> Daftar Sub Kategori Produk </a></li>
			<li><a class="input_b2" href="/manager/sub-category1/create"> Registrasi Sub Kategori Produk </a></li>
			
        <li class="title">Sub Kategori II Produk</li>
			<li><a class="input_b2" href="/manager/sub-category2/list"> Daftar Sub Kategori II Produk </a></li>
			<li><a class="input_b2" href="/manager/sub-category2/create"> Registrasi Sub Kategori II Produk </a></li>
  </div>
</div>
<!-- sidemenu end -->
