<!--Side menu-->
<div id="side_menu">
  <div id="side_menu_in">
    <ul>
      <li><b>Berita</b></li>
      <li><a class="input_b2" href="/manager/news/list"> Daftar Berita </a></li>
      <li><a class="input_b2" href="/manager/news/create"> Registrasi Berita </a></li>
      <li><b>Gambar Berjalan</b></li>
      <li><a class="input_b2" href="/manager/slider/list"> Daftar Gambar </a></li>
      <li><a class="input_b2" href="/manager/slider/create"> Registrasi Gambar </a></li>
    </ul>
  </div>
</div>
<!--Side menu end-->
