<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Sumber Perkakas</title>
<link rel="shortcut icon" href="/img/common/favicon.png">
<link rel="icon" href="/img/common/favicon.png">
<link rel="stylesheet" href="/css/main.css" type="text/css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.accordion.source.js" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function () {
	$('.accordion').accordion();
});
</script>
<!--[if lt IE 9]>
<script type="text/javascript" src="/js/IE9.js"></script>
<![endif]-->
<!--[if lt IE 7]>
<script type="text/javascript" src="/js/ie7-squish.js"></script> 
<![endif]-->
</head>
<body>

<?= $this->render("header.html"); ?>

<section class="wrapper column2">
<?= $this->render("leftmenu.html"); ?>
	<section class="contents">
		<div class="infoblock">
			<div class="infotitle" style="background-image: url('/img/main/main_errortitle_back.gif');">
				<h2></h2>
			</div>
			<article class="infoarticle" style="min-height: 80px;">
				<div class="infoinner">
					<?= $this->error_str ?>
				</div>
			</article>
		</div>
	</section>
	<div class="footbanner">
	</div>
</section>

<?= $this->render("footer.html"); ?>

</body>
</html>