<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 " lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8" lang="en"><![endif]-->
<!--[if gt IE 8]> <html class="no-js ie9" lang="en"><![endif]-->
<html lang="en">
<head>
    <title>SumberPerkakas.co.id</title>
    <link rel="icon" href="img/favicon.png">

    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta name="title" content="SumberPerkakas.co.id, Pusat Belanja Perkakas Online">
    <meta name="description" content="SumberPerkakas.co.id, Pusat Belanja Perkakas Online">
    <meta name="keywords" content="SumberPerkakas.co.id,Pusat,Belanja,Perkakas,Online">
    <meta name="author" content="herisher">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, minimum-scale=0.25, maximum-scale=1.0, initial-scale=1.0"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/global.css" media="all" />
    <link rel="stylesheet" href="/css/autoload/highdpi.css" media="all" />
    <link rel="stylesheet" href="/css/autoload/responsive-tables.css" media="all" />
    <link rel="stylesheet" href="/css/autoload/uniform.default.css" media="all" />
    <link rel="stylesheet" href="/js/jquery/plugins/fancybox/jquery.fancybox.css" media="all" />
    <link rel="stylesheet" href="/css/cms.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blockcart/blockcart.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blockcategories/blockcategories.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blockcurrencies/blockcurrencies.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blocklanguages/blocklanguages.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blockcontact/blockcontact.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blocknewsletter/blocknewsletter.css" media="all" />
    <link rel="stylesheet" href="/js/jquery/plugins/autocomplete/jquery.autocomplete.css" media="all" />
    <link rel="stylesheet" href="/css/product_list.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blocksearch/blocksearch.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blocktags/blocktags.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blockuserinfo/blockuserinfo.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blockviewed/blockviewed.css" media="all" />
    <link rel="stylesheet" href="/css/modules/themeconfigurator/css/hooks.css" media="all" />
    <link rel="stylesheet" href="/css/modules/themeconfigurator/css/live_configurator.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blockwishlist/blockwishlist.css" media="all" />
    <link rel="stylesheet" href="/css/modules/productcomments/productcomments.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blockpermanentlinks/blockpermanentlinks.css" media="all" />
    <link rel="stylesheet" href="/modules/themeconfiglink/themeconfiglink.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blocktopmenu/css/blocktopmenu.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blocktopmenu/css/superfish-modified.css" media="all" />
        
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
    <!--[if IE 8]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body id="cms" class="cms cms-6 cms-pages-configuration hide-left-column hide-right-column lang_en">
    <!--[if IE 8]>
    <div style='clear:both;height:59px;padding:0 15px 0 15px;position:relative;z-index:10000;text-align:center;'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div>
    <![endif]-->
    <div id="page">
        <?= $this->render("header.html"); ?>
        <div class="columns-container-bg1">
            <div class="columns-container">
                <div id="columns" class="container">
                    <div class="row">
                        <div id="center_column" class="center_column col-xs-12 col-sm-12">
                            <!-- Breadcrumb -->
                            <div class="breadcrumb clearfix">
                                <a class="home" href="/" title="Halaman Utama">
                                    <i class="icon-home"></i>
                                </a>
                                <span class="navigation-pipe" >&gt;</span>
                                <span class="navigation_page">Profil Perusahaan</span>
                            </div>
                            <!-- /Breadcrumb -->
                            <div id="top_column" class="center_column"></div>
                            <h1 class="page-heading">
                                Profil Perusahaan
                            </h1>
                            <div class="rte">
                                <div class="block">
                                    <div style="text-align: justify;">
                                    <h3>1. Authorized Dealer</h3>
                                    <p>BOSCH, KARCHER, MULTI PRO, SKILL, UNION, WIM, KDK, CKE, FIRMAN</p>
                                    <br>

                                    <h3>2. Sejarah</h3>
                                    <p>Dengan pengalaman retail sejak tahun 2002 kami semakin kompeten menangani aneka produk perkakas untuk keperluan Institusi meliputi : Perkakas Mesin ( Power Tools) , Perkakas Tehnik , Hand Tools, Genset, Kompresor, Electrical, Fan & Blower, Welding, Chainsaw, safety equipment dan berbagai accessoriesnya. Kami saat ini di percaya untuk menjual berbagai produk sebagai " Autorized Dealer " .
                                    Saat ini kami menjual secara " ECERAN MAUPUN GROSIR " berbagai merk produk antara lain : BOSCH, FUJIYAMA, STANLEY, HONDA, MULTI PRO, SKILL, IWT, LIPRO, SELLERY, KDK, CKE, TEKIRO, TANAKA, STIHL, TASCO, TAGAWA, SWAN, FIRMAN dll.</p>
                                    <br>

                                    <h3>3. Cooperation Tender</h3>
                                    <p>KAMI MEMBERIKAN FASILITAS DISCOUNT/ HARGA KHUSUS , KARTU GARANSI, SURAT DUKUNGAN, SURAT PENUNJUKAN DEALER, TEHNISI DAN DEMO PRODUK.</p>
                                    <br>

                                    <h3>4. Pelanggan Kami</h3>
                                    <p>Pelanggan kami meliputi hotel-hotel terkenal, industri, rumah sakit, kantor pemerintah/ swasta, perkebunan dan apartemen. Kami juga melayani penjualan grosir bagi pedagang/ toko terutama di luar JABOTABEK yang mendapat kesulitan memperoleh barang untuk melengkapi dagangannya.
                                    " Sumber Perkakas Supply " mempunyai keunggulan dibandingkan supplier lainnya karena kami juga mempunyai jaringan toko perkakas di 4 ( empat ) lokasi JABOTABEK.Jaringan toko Sumber Perkakas selain melayani pelanggan Retail berfungsi ganda sebagai " stockist " dan pusat distribusi pelanggan institusi untuk wilayah sekitarnya, sehingga efektif untuk layanan " Emergency " .</p>
                                    <br>

                                    <h3>5. Keuntungan Menjadi Pelanggan Kami</h3>
                                    <ol style="margin-left: 35px;">
                                        <li>
                                            Anda bertransaksi dengan perusahaan yg jelas domisili dan legalitasnya, sehingga aman dan terhindar dari penipuan.
                                        </li>
                                        <li>
                                            Kami adalah agen / authorized dealer dari merk-merk terkenal ( Bosch, Karcher, Multipro, KDK, CKE, Karcher, IPC, Skill, FIRMAN dll) sehingga dipastikan menjual barang asli, menyediakan jaminan fasilitas product knowledge / demo product, sparepart, garansi resmi, dll sesuai ketentuan fabric.
                                        </li>
                                        <li>
                                            Perusahaan kami telah berpengalaman melayani kebutuhan industri / institusi seluruh indonesia sejak th 2002, didukung oleh berbagai principal / merk terkenal , dan jaringan toko ritel kami sehingga memudahkan anda untuk verifikasi.
                                        </li>
                                    </ol>

                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                            <br />
                    </div><!-- #center_column -->
                </div><!-- .row -->
            </div><!-- #columns -->
        </div><!-- columns-container -->    
            
        </div><!-- .columns-container-bg1 -->           

        <?= $this->render("footer.html"); ?>
    </div><!-- #page -->

<script type="text/javascript">
var CUSTOMIZE_TEXTFIELD = 1;
var FancyboxI18nClose = 'Close';
var FancyboxI18nNext = 'Next';
var FancyboxI18nPrev = 'Previous';
var added_to_wishlist = 'Added to your wishlist.';
var ajaxsearch = true;
var baseDir = 'http://livedemo00.template-help.com/prestashop_49514/';
var baseUri = 'http://livedemo00.template-help.com/prestashop_49514/index.php';
var blocksearch_type = 'top';
var contentOnly = false;
var customizationIdMessage = 'Customization #';
var delete_txt = 'Delete';
var freeProductTranslation = 'Free!';
var freeShippingTranslation = 'Free shipping!';
var generated_date = 1411736004;
var id_lang = 1;
var img_dir = 'http://livedemo00.template-help.com/prestashop_49514/themes/theme984/img/';
var instantsearch = true;
var isGuest = 0;
var isLogged = 0;
var loggin_required = 'You must be logged in to manage your wishlist.';
var mywishlist_url = 'http://livedemo00.template-help.com/prestashop_49514/index.php?fc=module&module=blockwishlist&controller=mywishlist&id_lang=1';
var page_name = 'cms';
var priceDisplayMethod = 1;
var priceDisplayPrecision = 2;
var quickView = true;
var removingLinkText = 'remove this product from my cart';
var roundMode = 2;
var search_url = 'http://livedemo00.template-help.com/prestashop_49514/index.php?controller=search';
var static_token = '58ed9c8c81e8105c77bf7df2929aff22';
var token = '15d486086a55ff6d28afe22ff7868a2a';
var usingSecureMode = false;
var wishlistProductsIds = false;
</script>
<script type="text/javascript" src="/js/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.easing.js"></script>
<script type="text/javascript" src="/js/tools.js"></script>
<script type="text/javascript" src="/js/global.js"></script>
<script type="text/javascript" src="/js/autoload/10-bootstrap.min.js"></script>
<script type="text/javascript" src="/js/autoload/15-jquery.total-storage.min.js"></script>
<script type="text/javascript" src="/js/autoload/15-jquery.uniform-modified.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/fancybox/jquery.fancybox.js"></script>
<script type="text/javascript" src="/js/products-comparison.js"></script>
<script type="text/javascript" src="/js/cms.js"></script>
<!--script type="text/javascript" src="/js/modules/blockcart/ajax-cart.js"></script-->
<script type="text/javascript" src="/js/jquery/plugins/jquery.scrollTo.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.serialScroll.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/bxslider/jquery.bxslider.js"></script>
<script type="text/javascript" src="/js/tools/treeManagement.js"></script>
<script type="text/javascript" src="/js/modules/blocknewsletter/blocknewsletter.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/autocomplete/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/js/modules/blocksearch/blocksearch.js"></script>
<!--script type="text/javascript" src="modules/themeconfigurator/js/live_configurator.js"></script-->
<script type="text/javascript" src="/js/modules/blockwishlist/js/ajax-wishlist.js"></script>
<script type="text/javascript" src="/js/modules/blocktopmenu/js/hoverIntent.js"></script>
<script type="text/javascript" src="/js/modules/blocktopmenu/js/superfish-modified.js"></script>
<script type="text/javascript" src="/js/modules/blocktopmenu/js/blocktopmenu.js"></script>
    </body>
</html>