<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 " lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8" lang="en"><![endif]-->
<!--[if gt IE 8]> <html class="no-js ie9" lang="en"><![endif]-->
<html lang="en">
<head>
    <title>SumberPerkakas.co.id</title>
    <link rel="icon" href="img/favicon.png">

    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta name="title" content="SumberPerkakas.co.id, Pusat Belanja Perkakas Online">
    <meta name="description" content="SumberPerkakas.co.id, Pusat Belanja Perkakas Online">
    <meta name="keywords" content="SumberPerkakas.co.id,Pusat,Belanja,Perkakas,Online">
    <meta name="author" content="herisher">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, minimum-scale=0.25, maximum-scale=1.0, initial-scale=1.0"> 
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/global.css" media="all" />
    <link rel="stylesheet" href="/css/autoload/highdpi.css" media="all" />
    <link rel="stylesheet" href="/css/autoload/responsive-tables.css" media="all" />
    <link rel="stylesheet" href="/css/autoload/uniform.default.css" media="all" />
    <link rel="stylesheet" href="/js/jquery/plugins/fancybox/jquery.fancybox.css" media="all" />
    <link rel="stylesheet" href="/css/stores.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blockcart/blockcart.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blockcategories/blockcategories.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blockcurrencies/blockcurrencies.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blocklanguages/blocklanguages.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blockcontact/blockcontact.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blocknewsletter/blocknewsletter.css" media="all" />
    <link rel="stylesheet" href="/js/jquery/plugins/autocomplete/jquery.autocomplete.css" media="all" />
    <link rel="stylesheet" href="/css/product_list.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blocksearch/blocksearch.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blocktags/blocktags.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blockuserinfo/blockuserinfo.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blockviewed/blockviewed.css" media="all" />
    <link rel="stylesheet" href="/css/modules/themeconfigurator/css/hooks.css" media="all" />
    <link rel="stylesheet" href="/css/modules/themeconfigurator/css/live_configurator.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blockwishlist/blockwishlist.css" media="all" />
    <link rel="stylesheet" href="/css/modules/productcomments/productcomments.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blockpermanentlinks/blockpermanentlinks.css" media="all" />
    <link rel="stylesheet" href="/modules/themeconfiglink/themeconfiglink.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blocktopmenu/css/blocktopmenu.css" media="all" />
    <link rel="stylesheet" href="/css/modules/blocktopmenu/css/superfish-modified.css" media="all" />
        
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
    <!--[if IE 8]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body id="stores" class="stores hide-left-column hide-right-column lang_en">
    <!--[if IE 8]>
    <div style='clear:both;height:59px;padding:0 15px 0 15px;position:relative;z-index:10000;text-align:center;'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div>
    <![endif]-->
    <div id="page">
        <div class="header-container">
            <header id="header">
                <div class="banner">
                    <div class="container">
                        <div class="row"></div>
                    </div>
                </div>
                <div style="margin-top: 20px;">
                    <div class="container">
                        <div class="row">
                            <div id="header_logo">
                                <a href="/" title="Storage Building Materials ">
                                    <img class="logo img-responsive" width="276" height="82" src="/img/logo.png" alt="SumberPerkakas.co.id" title="SumberPerkakas.co.id">
                                </a>
                            </div>
                            <!-- Block user information module NAV  -->
                            <ul class="user_info" style="visibility:hidden;">
                                <li>
                                    <a href="#" title="View my customer account" rel="nofollow">
                                        <i class="icon-user"></i>Your Account
                                    </a>
                                </li>
                                <li>
                                    <a class="login" href="#" rel="nofollow" title="Login to your customer account">
                                        <i class="icon-lock"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- /Block usmodule NAV -->
                            <!-- MODULE Block cart -->
                            <div class="box-cart col-sm-3 clearfix" style="visibility: hidden">
                                <div class="shopping_cart">
                                    <a href="#" title="View my shopping cart" rel="nofollow">
                                        <b>Cart</b>
                                        <span class="ajax_cart_quantity unvisible">0</span>
                                        <span class="ajax_cart_product_txt unvisible">Product</span>
                                        <span class="ajax_cart_product_txt_s unvisible">Products</span>
                                        <span class="ajax_cart_total unvisible"></span>
                                        <span class="ajax_cart_no_product">(empty)</span>
                                    </a>
                                    <div class="cart_block block exclusive">
                                        <div class="block_content">
                                            <!-- block list of products -->
                                            <div class="cart_block_list">
                                                <p class="cart_block_no_products">
                                                    No products
                                                </p>
                                                <div class="cart-prices">
                                                    <div class="cart-prices-line first-line">
                                                        <span class="price cart_block_shipping_cost ajax_cart_shipping_cost">
                                                            Free shipping!
                                                        </span>
                                                        <span>
                                                            Shipping
                                                        </span>
                                                    </div>
                                                    <div class="cart-prices-line last-line">
                                                        <span class="price cart_block_total ajax_block_cart_total">$0.00</span>
                                                        <span>Total</span>
                                                    </div>
                                                </div>
                                                <p class="cart-buttons">
                                                    <a id="button_order_cart" class="btn btn-default button button-small" href="#" title="Check out" rel="nofollow">
                                                        <span>
                                                            Check out
                                                            <i class="icon-chevron-right right"></i>
                                                        </span>
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div><!-- .cart_block -->
                                </div>
                            </div>
                            <!-- #layer_cart -->
                            <div class="layer_cart_overlay"></div>

                            <!-- /MODULE Block cart --><!-- Block search module TOP -->
                            <div id="search_block_top" class=" clearfix">
                                <form id="searchbox" method="get" action="list.html">
                                    <input type="hidden" name="controller" value="search">
                                    <input type="hidden" name="orderby" value="position">
                                    <input type="hidden" name="orderway" value="desc">
                                    <input class="search_query form-control ac_input" type="text" id="search_query_top" name="search_query" placeholder="Search" value="" autocomplete="off">
                                    <button type="submit" name="submit_search" class="btn btn-default button-search">
                                        <span>Search</span>
                                    </button>
                                </form>
                            </div>
                            <!-- /Block search module TOP -->
                        </div>
                    </div>
                </div>
            </header>
        </div>
            
        <div class="columns-container-bg1">
           <div class="columns-container">
                <div id="columns" class="container">
                    <div class="row">
                        <div id="center_column" class="center_column col-xs-12 col-sm-12">
                            <!-- Breadcrumb -->
                            <div class="breadcrumb clearfix">
                                <a class="home" href="index.html" title="Return to Home">
                                    <i class="icon-home"></i>
                                </a>
                                <span class="navigation-pipe" >&gt;</span>
                                <span class="navigation_page">Our stores</span>
                            </div>
                            <!-- /Breadcrumb -->
                            <div id="top_column" class="center_column"></div>
                            <h1 class="page-heading">
                                Our stores
                            </h1>
                            <table id="stores-table" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="num">#</th>
                                        <th>Store</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="num">1</td>
                                        <td class="name"><img src="http://livedemo00.template-help.com/prestashop_49514/img/st/1.jpg" alt="">
                                                        <span>&nbsp;&nbsp;&nbsp;Jatiwaringin</span></td>
                                        <td class="address">Jl. Jatiwaringin Raya No 234 Pondok gede<br>
                                                            Jakarta 17411, Jakarta<br>
                                                            Indonesia
                                        </td>
                                        <td class="distance">+6281932851135</td>
                                    </tr>
                                    <tr>
                                        <td class="num">2</td>
                                        <td class="name"><img src="http://livedemo00.template-help.com/prestashop_49514/img/st/4.jpg" alt="">
                                                        <span>&nbsp;&nbsp;&nbsp;Cibinong</span></td>
                                        <td class="address">Jl. Mayot Oking No 135 Cibinong<br>
                                                            BOGOR, Jawa Barat<br>
                                                            Indonesia
                                        </td>
                                        <td class="distance">+608932851135</td>
                                    </tr>
                                    <tr>
                                        <td class="num">3</td>
                                        <td class="name"><img src="http://livedemo00.template-help.com/prestashop_49514/img/st/5.jpg" alt="">
                                                        <span>&nbsp;&nbsp;&nbsp;Bogor</span></td>
                                        <td class="address">Jl. Soleh Iskandar No 17-18 bogor<br>
                                                            Bogor, Jawa Barat<br>
                                                            Indonesia
                                        </td>
                                        <td class="distance">+6281932851135</td></tr>
                                </tbody>
                            </table>
                        </div><!-- #center_column -->
                    </div><!-- .row -->
                </div><!-- #columns -->
            </div><!-- columns-container -->
        </div><!-- .columns-container-bg1 -->

        <?= $this->render("footer.html"); ?>
    </div><!-- #page -->

<script type="text/javascript">
var CUSTOMIZE_TEXTFIELD = 1;
var FancyboxI18nClose = 'Close';
var FancyboxI18nNext = 'Next';
var FancyboxI18nPrev = 'Previous';
var added_to_wishlist = 'Added to your wishlist.';
var ajaxsearch = true;
var baseDir = 'http://livedemo00.template-help.com/prestashop_49514/';
var baseUri = 'http://livedemo00.template-help.com/prestashop_49514/index.php';
var blocksearch_type = 'top';
var contentOnly = false;
var customizationIdMessage = 'Customization #';
var defaultLat = 25.948969;
var defaultLong = -80.226439;
var delete_txt = 'Delete';
var distance_unit = 'mi';
var freeProductTranslation = 'Free!';
var freeShippingTranslation = 'Free shipping!';
var generated_date = 1411731522;
var hasStoreIcon = true;
var id_lang = 1;
var img_dir = 'http://livedemo00.template-help.com/prestashop_49514/themes/theme984/img/';
var img_ps_dir = 'http://livedemo00.template-help.com/prestashop_49514/img/';
var img_store_dir = 'http://livedemo00.template-help.com/prestashop_49514/img/st/';
var infoWindow = '';
var instantsearch = true;
var isGuest = 0;
var isLogged = 0;
var locationSelect = '';
var loggin_required = 'You must be logged in to manage your wishlist.';
var logo_store = 'logo_stores.gif';
var map = '';
var markers = [];
var mywishlist_url = 'http://livedemo00.template-help.com/prestashop_49514/index.php?fc=module&module=blockwishlist&controller=mywishlist&id_lang=1';
var page_name = 'stores';
var priceDisplayMethod = 1;
var priceDisplayPrecision = 2;
var quickView = true;
var removingLinkText = 'remove this product from my cart';
var roundMode = 2;
var searchUrl = 'http://livedemo00.template-help.com/prestashop_49514/index.php?controller=stores';
var search_url = 'http://livedemo00.template-help.com/prestashop_49514/index.php?controller=search';
var static_token = '58ed9c8c81e8105c77bf7df2929aff22';
var token = '15d486086a55ff6d28afe22ff7868a2a';
var translation_1 = 'No stores were found. Please try selecting a wider radius.';
var translation_2 = 'store found -- see details:';
var translation_3 = 'stores found -- view all results:';
var translation_4 = 'Phone:';
var translation_5 = 'Get directions';
var translation_6 = 'Not found';
var usingSecureMode = false;
var wishlistProductsIds = false;
</script>
<script type="text/javascript" src="/js/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.easing.js"></script>
<script type="text/javascript" src="/js/tools.js"></script>
<script type="text/javascript" src="/js/global.js"></script>
<script type="text/javascript" src="/js/autoload/10-bootstrap.min.js"></script>
<script type="text/javascript" src="/js/autoload/15-jquery.total-storage.min.js"></script>
<script type="text/javascript" src="/js/autoload/15-jquery.uniform-modified.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/fancybox/jquery.fancybox.js"></script>
<script type="text/javascript" src="/js/products-comparison.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&amp;region=US"></script>
<script type="text/javascript" src="/js/stores.js"></script>
<!--script type="text/javascript" src="/js/modules/blockcart/ajax-cart.js"></script-->
<script type="text/javascript" src="/js/jquery/plugins/jquery.scrollTo.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/jquery.serialScroll.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/bxslider/jquery.bxslider.js"></script>
<script type="text/javascript" src="/js/tools/treeManagement.js"></script>
<script type="text/javascript" src="/js/modules/blocknewsletter/blocknewsletter.js"></script>
<script type="text/javascript" src="/js/jquery/plugins/autocomplete/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/js/modules/blocksearch/blocksearch.js"></script>
<!--script type="text/javascript" src="modules/themeconfigurator/js/live_configurator.js"></script-->
<script type="text/javascript" src="/js/modules/blockwishlist/js/ajax-wishlist.js"></script>
<script type="text/javascript" src="/js/modules/blocktopmenu/js/hoverIntent.js"></script>
<script type="text/javascript" src="/js/modules/blocktopmenu/js/superfish-modified.js"></script>
<script type="text/javascript" src="/js/modules/blocktopmenu/js/blocktopmenu.js"></script>

    </body>
</html>